.main-search-input-container {
    margin: auto;
    padding: 0;
    width: 90%;

    .big-search-input {
        padding: 14px;
        font-size: 120%;
        border-radius: 10px;
        display: block;
        width: 100%;
        margin-bottom: 0;
        background-color: rgba(255, 255, 255, .9);
        border: 1px rgba(200, 200, 200, .9) solid;
    }

    button {
        border: none;
        background: none;
        font-size: 110%;
        padding: 2px 5px;
        margin-top: 0;
        float: right;
        position: relative;
        left: -12px;
        top: -38px;
        margin-bottom: 0;
        color: $page_background;
    }
}

.main-search-input-column {
    margin-bottom: -23px;
}

@include mobile {
    .main-search-input-container {
        width: 100%;
    }
}

.teas-list {
    .card {
        border-radius: 5px;
        background-color: rgba(255, 255, 255, .89);
        overflow: hidden;
        transition: filter 1s ease-in-out;

        h3 {
            margin-top: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            span.fa-star {
                margin-right: .3em;
            }

            a {
                color: $page_background !important;
            }
        }

        .content {
            p {
                margin-bottom: .5em;
                color: $page_background;
            }

            .card-buttons {
                visibility: hidden;
                font-size: 130%;

                a {
                    color: #666;

                    &:not(:first-child) {
                        margin-left: .5em;
                    }

                    &.card-reorder-handle {
                        cursor: move;
                    }
                }
            }

            &:hover .card-buttons {
                visibility: visible;
            }
        }

        &.no-tea-left {
            filter: grayscale(100%);

            h3 .tag-empty {
                display: inline-block;
                margin-left: 2em;
                padding: .3em .5em;

                position: absolute;
                top: 1.7em;

                font-size: small;

                border-radius: 3px;

                background-color: $dark;
                color: findColorInvert($dark);
            }
        }
    }
}

@include mobile {
    .teas-list .card {
        border-radius: 0;

        &.no-tea-left h3 .tag-empty {
            margin-left: .5em;
        }
    }
}

.mtp-promo {
    p, .columns {
        font-size: large;
        text-align: justify;
    }

    p:not(:first-of-type) {
        margin-top: .4em;
    }

    .columns {
        margin-top: .8em;
        text-align: center;
    }
}

#favorite-teas {
    padding-bottom: 0;
}

#lists-of-teas, #sync-list {
    h2 {
        margin-bottom: 1.4rem;

        color: white;
        font-size: 1.2em;
        text-align: center;

        border-top: solid 1px lighten($page-background, 15%);

        span {
            display: inline-block;
            position: relative;
            top: -.75em;
            background-color: $page-background;
            padding: 0 1.1em;
        }
    }

    aside.menu {
        ul.menu-list a {
            color: #efefef;

            &.is-active {
                color: #fff;
            }
            &:not(.is-active):hover {
                color: $page-background;
            }
        }

        .menu-label {
            color: #efefef;
        }
    }
}
