html {
    height: 100vh;
    background: $page_background;
}

body {
    height: 100vh;
    background: $page_background;

    > section.hero {
        background-color: $page_background !important;
        background-image: $banner_image;
        background-position: 66% 12%;

        nav.navbar {
            button.button.navbar-burger {
                &, &:hover, &:active, &:focus, &.is-active {
                    color: darken($button-text-hover-background-color, 5%);
                    background-color: transparent;
                    box-shadow: none;
                }
            }

            .navbar-menu.is-active {
                position: absolute;
                z-index: 1000;
            }

            .main-tea-search.main-tea-search-inmenu {
                padding: 0;
                margin: 0;
                width: 32rem;

                position: relative;
                top: .8rem;

                input.big-search-input {
                    font-size: 1em;
                    padding: 4px;
                    border-radius: 4px;
                }

                .main-search-input-container button {
                    left: -2px;
                    top: -25px;
                    font-size: .9em;
                }
            }
        }
    }
}

.search-query:focus + button {
    z-index: 3;
}

@include touch {
    .hero .hero-head nav.navbar {
        margin-top: 0;

        .navbar-menu {
            width: 100%;
        }

        a.navbar-item:hover {
            background-color: transparent;
        }

        .main-tea-search.main-tea-search-inmenu {
            width: 100%;
            padding-right: 0.4em;
            top: 8px;
        }
    }
}

@include mobile {
    .hero .hero-head nav.navbar {
        .main-tea-search.main-tea-search-inmenu {
            padding-left: 0.4em;

            input {
                border-radius: 0;
            }
        }
    }
}

@include tablet-only {
    .box {
        border-radius: 0;
    }
}

footer.footer {
    a {
        color: #ddd;

        &:hover {
            color: white;
        }

        sup {
            font-variant: small-caps;
            padding-left: .5em;
        }
    }
}


.error-page {
    color: white;
    margin: 4em 0 !important;

    aside {
        font-size: 2em;

        .icon {
            position: relative;
            top: 1em;

            .fa-stack.fa-lg .fa-question {
                position: relative;

                &.subicon-search {
                    left: 8px;
                    bottom: 2px;
                }

                &.subicon-404 {
                    left: .55em;
                }
            }
        }
    }

    article {
        h3 {
            font-size: 2.2em;
        }
        p {
            font-size: 1.4em;

            a {
                color: lighten($primary, 40%);

                &:hover {
                    color: lighten($primary, 70%);
                }
            }
        }
    }
}

@include mobile {
    .error-page {
        text-align: center;

        aside .fa-stack {
            left: -.5em;
            top: -1em;
        }

        article h3 {
            margin: 1em .2em;
        }
    }
}

@include tablet-only {
    .error-page {
        aside {
            position: relative;
            left: -3em;
        }
    }
}

@include desktop-only {
    .error-page {
        aside {
            position: relative;
            left: -2em;
        }
    }
}
