#hero-list .hero-foot .tabs li {
    &.is-active a {
        background-color: $page_background;
        border-color: $page_background;
        color: #fff;
    }
    &:not(.is-active) a:hover {
        background-color: rgba(33, 33, 33, .6);
    }
}

#teas-list {
    margin-top: 40px;

    .card.tea-list-item {
        border-radius: 5px;

        .card-image {
            margin-bottom: 0;
            figure img {
                height: 100%;
                max-width: 168px;
                max-height: 144px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }

        .card-content {
            padding: 1rem;
            h3 {
                margin-bottom: .4rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &:hover {
            box-shadow: 1px 1px 12px #777;
        }
    }
}

ul.tea-tips-list {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    li {
        display: inline-block;
        list-style-type: none;
        padding-left: 5px;
        margin-right: .2em;
        color: $page_background;

        &:first-child {
            padding-left: 0;
        }
        .icon {
            margin-right: .2em;
        }
    }
}

@include mobile {
    #hero-list .tea-title {
        text-align: center;
    }

    #teas-list .card.tea-list-item {
        border-radius: 0;

        .card-image figure img {
            border-radius: 0;
        }
    }
}
