#sync-list {
	.box {
		p {
			font-size: large;

			&.sync-url {
				margin: 3em;
				margin-bottom: .4em;
				text-align: center;
				font-size: 2.4em;
				font-family: $family-monospace;
				cursor: pointer;

				.fa {
					font-size: .75em;
					vertical-align: middle;
				}

				&:hover {
					color: black;
				}
			}

			&.sync-url-copy-message {
				margin-bottom: 4em;

				text-align: center;
				font-size: 1em;
			}
		}

		.message:not(:first-child) {
			margin-top: 1em;
		}

		.panel {
			margin-top: 2em;

			.other-teas {
				display: block;
				text-align: center;
			}
		}

		.add-without-replacing-favorites {
			font-size: .88em;
			text-align: center;
		}
	}
}


@include mobile {
	#sync-list {
		.box p {
			&.sync-url {
				margin: 3em .1em;
				font-size: 1.6em;

				.fa {
					display: block;
				}

			}
		}
	}
}
