.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable {
    &:active {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
    &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

.tooltip::after {
    font-style: normal;
    font-size: 1.4em;
}

.pagination {
    margin-bottom: 1.4rem;

    .pagination-next {
        margin-left: 0;
    }

    .pagination-previous, .pagination-next, .pagination-link:not(.is-current) {
        background-color: white;
    }
}

@media(max-width: 769px) {
    .pagination {
        .pagination-next {
            margin-right: .75rem;
        }
        .pagination-previous {
            margin-left: .75rem;
        }
    }
}
