<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>My Tea Party</title>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link href="/static/assets/css/myteaparty.min.css" rel="stylesheet" />
    </head>

    <body>
        <section class="hero is-primary">
            <div class="hero-head">
                <header class="nav">
                    <div class="container">
                        <div class="nav-center is-hidden-mobile">
                            <h1><a href="/"><span class="fa fa-coffee"></span></a></h1>
                        </div>

                        <div class="nav-left is-hidden-tablet">  
                            <h1><a href="/"><span class="fa fa-coffee"></span></a></h1>
                        </div>
                    </div>
                </header>
            </div>
            <div class="hero-body"></div>
        </section>

        <section id="teas-list">
            <div class="container">
                <section class="error-page columns">
                    <aside class="column is-1 is-offset-2">
                        <span class="icon is-large">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-map-o fa-stack-2x"></i>
                                <i class="fa fa-question fa-stack-1x subicon-404"></i>
                            </span>
                        </span>
                    </aside>
                    <article class="column is-6">
                        <h3>Cette page n'existe pas.</h3>
                    	<p>Vous avez probablement fait une faute de frappe, ou suivi un lien mort.</p>
                    	<p>Vous pouvez <a href="/">retourner à l'accueil</a> pour revenir dans le droit chemin.</p>
                    </article>
                </section>
            </div>
        </section>
    </body>
</html>
