<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{% endblock %}My Tea Party</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{{ url_for('static', filename='assets/css/myteaparty.min.css') }}" rel="stylesheet" />

    {% block stylesheets %}{% endblock %}

    {% block social_tags %}{% endblock %}
    <meta name="og:url" content="{{ url_for('homepage', _external=True) }}" />
    <meta name="og:site_name" content="My Tea Party" />
    <meta name="og:locale" content="fr_FR" />
    <meta name="og:type" content="website" />

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "{{ url_for('homepage', _external=True) }}",
        "potentialAction": [{
            "@type": "SearchAction",
            "target": "{{ url_for('search', _external=True) }}?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }}
    }
    </script>



    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event)
        {
            if (window.devicePixelRatio == 2 && document.querySelectorAll)
            {
                  var images = document.querySelectorAll("img.has-hires");

                  for(var i = 0; i < images.length; i++)
                  {
                    var filename = images[i].src;
                    var lastIndex = filename.lastIndexOf(".");
                    var imageType = (lastIndex < 1) ? "" : filename.substr(lastIndex + 1);
                    var imageName = (lastIndex < 1) ? filename : filename.substr(0, lastIndex);

                    imageName += "@2x" + '.' + imageType;
                    images[i].src = imageName;
                  }
             }
        });
    </script>
</head>

<body>
    {% block hero %}
    <section class="hero is-primary {% block hero_classes %}{% endblock %}" {% block hero_attributes %}{% endblock %}>
        {% block hero_head %}
        <div class="hero-head">
            <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ url_for('homepage') }}">
                        <span class="fa fa-coffee fa-2x"></span>
                    </a>

                    <button class="button is-text navbar-burger" data-target="mtp-nav-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="navbar-menu" id="mtp-nav-menu">
                    <div class="navbar-start">
                        {% block menu_left %}
                            <a href="{{ url_for('all_teas') }}" class="navbar-item">
                                Tous les thés
                            </a>
                            <a href="{{ url_for('by_type', tea_type_slug='darjeeling') }}" class="navbar-item">
                                Origines
                            </a>
                            <a href="{{ url_for('by_vendor') }}" class="navbar-item">
                                Fabricants
                            </a>
                        {% endblock %}
                    </div>
                    <div class="navbar-end">
                        {% block menu_right %}{% endblock %}
                    </div>
                </div>
            </nav>
        </div>
        {% endblock %}

        {% block hero_body %}{% endblock %}

        {% block hero_foot %}{% endblock %}
    </section>
    {% endblock %}

    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <a href="{{ url_for('about') }}">À propos</a> — <a href="#">Mes listes<sup>Bientôt</sup></a> — <a href="{{ url_for('sync_list') }}">Synchroniser sur un autre appareil</a>
                </p>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        'use strict';

        window.mtp_config = {
            'cookies': {
                'active_list': {{ config.COOKIE_FAVORITES_LIST|tojson }},
                'lists': {{ config.COOKIE_LISTS|tojson }},
                'last_viewed_list': {{ config.COOKIE_LAST_VIEWED_LIST|tojson }}
            }
        };

        document.addEventListener('DOMContentLoaded', function () {
            // Get all "navbar-burger" elements
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach(function ($el) {
                    $el.addEventListener('click', function () {
                        var target = $el.dataset.target;
                        var $target = document.getElementById(target);

                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/tea-lists.js') }}"></script>

    {% block javascripts %}{% endblock %}

    {% if config.PIWIK_URL %}
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u='{{ config.PIWIK_URL }}/';
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '{{ config.PIWIK_SITE_ID }}']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript>
            <p>
                <img src="{{ config.PIWIK_URL }}/piwik.php?idsite={{ config.PIWIK_SITE_ID }}&rec=1" style="border:0;" alt="" />
            </p>
        </noscript>
        <!-- End Piwik Code -->
    {% endif %}
</body>
</html>
