<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{% endblock %}My Tea Party</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{{ url_for('static', filename='assets/css/myteaparty.min.css') }}" rel="stylesheet" />

    {% block stylesheets %}{% endblock %}

    {% block social_tags %}{% endblock %}
    <meta name="og:url" content="{{ url_for('homepage', _external=True) }}" />
    <meta name="og:site_name" content="My Tea Party" />
    <meta name="og:locale" content="fr_FR" />
    <meta name="og:type" content="website" />

    

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event)
        {
            if (window.devicePixelRatio == 2 && document.querySelectorAll)
            {
                  var images = document.querySelectorAll("img.has-hires");

                  for(var i = 0; i < images.length; i++)
                  {
                    var filename = images[i].src;
                    var lastIndex = filename.lastIndexOf(".");
                    var imageType = (lastIndex < 1) ? "" : filename.substr(lastIndex + 1);
                    var imageName = (lastIndex < 1) ? filename : filename.substr(0, lastIndex);

                    imageName += "@2x" + '.' + imageType;
                    images[i].src = imageName;
                  }
             }
        });
    </script>
</head>

<body>
    {% block hero %}
    <section class="hero is-primary {% block hero_classes %}{% endblock %}" {% block hero_attributes %}{% endblock %}>
        {% block hero_head %}
        <div class="hero-head">
            <header class="nav">
                <div class="container">
                    <div class="nav-left is-hidden-mobile">
                        {% block menu_left %}
                        <a href="{{ url_for('all_teas') }}" class="nav-item">Tous les thés</a>
                        <a href="{{ url_for('by_type', tea_type_slug='darjeeling') }}" class="nav-item">Origines</a>
                        <a href="{{ url_for('by_vendor') }}" class="nav-item is-hidden-mobile">Fabriquants</a>
                        {% endblock %}
                    </div>
                    <div class="nav-center is-hidden-mobile">
                        {% block menu_center %}
                        <h1><a href="{{ url_for('homepage') }}"><span class="fa fa-coffee"></span></a></h1>
                        {% endblock %}
                    </div>
                    <div class="nav-right is-hidden-mobile">
                        {% block menu_right %}{% endblock %}
                    </div>

                    <div class="nav-left is-hidden-tablet">
                        {% block menu_left_mobile %}
                        {{ self.menu_center() }}
                        {% endblock %}
                    </div>
                    <div class="nav-right is-hidden-tablet">
                        {% block menu_right_mobile %}
                        {{ self.menu_left() }}
                        {% endblock %}
                    </div>
                </div>
            </header>
        </div>
        {% endblock %}

        {% block hero_body %}{% endblock %}

        {% block hero_foot %}{% endblock %}
    </section>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block javascripts %}{% endblock %}
</body>
</html>
