{% extends 'base.html' %}

{% block hero_attributes %}id="hero-list"{% endblock %}


{% block hero_body %}
<div class="hero-body">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column tea-title">
                <h1 class="title">Synchroniser sur un autre appareil</h1>
                <h2 class="subtitle">Utilisez les mêmes listes partout, avec juste vous-même ou vos proches</h2>
            </div>
            <div class="column is-narrow is-5 is-hidden-mobile main-search-input-column">
                <form class="main-tea-search" action="{{ url_for('search') }}">
                    <div class="control main-search-input-container">
                        <label class="sr-only" for="search_tea">Rechercher le nom ou le numéro d'un thé...</label>
                        <input type="search" class="big-search-input" id="search_tea" name="q" placeholder="Rechercher..." />
                        <button type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<section class="section" id="sync-list">
    <div class="container">
        <div class="columns">
            <aside class="menu column is-3">
                <p class="menu-label">
                    Favoris
                </p>
                <ul class="menu-list">
                    <li>
                        <a
                            href="{{ url_for('sync_list') }}"
                            class="teas-list-handle{% if 'list' not in request.args or tea_favorites_list.cookie_key == request.args.get('list', '') %} is-active{% endif %}"
                            data-list="{{ tea_favorites_list.cookie_key }}">
                            Vos favoris
                        </a>
                    </li>
                </ul>
                <p class="menu-label">
                    Vos listes
                </p>
                <ul class="menu-list">
                    {% for list in tea_lists %}
                        <li>
                            <a
                                href="{{ url_for('sync_list', list=list.cookie_key) }}"
                                class="teas-list-handle{% if list.cookie_key == request.args.get('list', '') %} is-active{% endif %}"
                                data-list="{{ list.cookie_key }}">
                                {{ list.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
            <article class="column is-9">
                {% for list in tea_lists + [tea_favorites_list] %}
                    <div class="box teas-list-content{% if ('list' in request.args and request.args.get('list') != list.cookie_key) or list.cookie_key != tea_favorites_list.cookie_key %} is-hidden{% endif %}"
                         data-list="{{ list.cookie_key }}">
                        <p>
                            <strong>
                                Pour synchroniser votre liste avec un autre appareil,
                                ouvrez l'adresse suivante dessus. C'est tout !
                            </strong><br />
                            Ce lien vous permet de synchroniser
                            {% if list == tea_favorites_list -%}
                                vos favoris. Pour synchroniser une autre liste
                            {%- else -%}
                                la liste <strong>{{ list.name }}</strong>. Pour en synchroniser une autre
                            {%- endif -%}, sélectionnez-là dans la barre latérale.
                        </p>
                        
                        <p class="sync-url sync-url-handle tooltip is-tooltip-top" data-tooltip="Copier le lien">
                            <span class="sync-url-itself">{{ url_for('sync_list_newdevice', share_key=list.share_key, _external=True) }}</span>
                            <span class="fa fa-clipboard"></span>
                        </p>

                        <figure class="sync-url-qr">
                            <img src="{{ url_for('sync_code_qr', share_key=list.share_key) }}" alt="QR Code pour récupérer le lien" />
                            <figcaption>
                                Vous pouvez également scanner ce QRCode pour récupérer plus aisément votre liste sur votre téléphone.
                            </figcaption>
                        </figure>

                        <aside class="message is-danger">
                            <div class="message-body">
                                <strong>Attention !</strong> Toute personne ayant ce lien dispose d'un accès en <strong>lecture et écriture</strong> à votre liste. Ne le partagez qu'avec vous-même ou vos proches.<br />
                                Ce lien expire le {{ list.share_key_valid_until.strftime('%d/%m/%Y à %H:%M') }}. <a href="{{ url_for('sync_list', regen=True, list=list.cookie_key) }}">Regénérer</a>.
                            </div>
                        </aside>
                    </div>
                {% endfor %}
            </article>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/homepage.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/sync.js') }}"></script>
{% endblock %}
