/*
 * ALL
 */

.hero .hero-head header.nav {
    box-shadow: none;
    margin-top: 0;
}
.hero .hero-head header.nav h1 {
    position: relative;
    top: .8rem;
    margin-left: 1rem;
}

.pagination {
    margin-bottom: 1.4rem;
}
.pagination .pagination-next {
    margin-left: 0;
}

@media (max-width: 769px) {
    .hero .hero-head header.nav .nav-right a.nav-item {
        display: inline;
        position: relative;
        top: 1.1rem;
    }

    .pagination .pagination-next {
        margin-left: .75rem;
    }
}


/*
 * HOMEPAGE
 */

html, body {
    height: 100vh;
    background: #212121;
}

body > section.hero {
    background-color: #212121 !important;
    background-image: url('../img/top-banner-tea-1.jpg');
    background-position: 0 -48px;
}

body > section.hero header {
    text-align: center;
    margin-top: 20px;
}
body > section.hero header h1 {
    font-size: 180%;
}


.main-search-input-container {
    margin: auto;
    padding: 0;
    width: 90%;
}

.main-search-input-container .big-search-input {
    padding: 14px;
    font-size: 120%;
    border-radius: 10px;

    display: block;
    width: 100%;

    margin-bottom: 0;

    background-color: rgba(255, 255, 255, 0.9);
    border: 1px rgba(200, 200, 200, 0.9) solid;
}

.main-search-input-column {
    margin-bottom: -23px;
}

.main-search-input-container button {
    border: none;
    background: none;

    font-size: 110%;

    padding: 2px 5px;
    margin-top: 0;

    float: right;
    position: relative;;
    left: -12px;
    top: -36px;

    margin-bottom: 0;
    color:#222;
}

.search-query:focus + button {
    z-index: 3;
}

.main-tea-search.main-tea-search-inmenu {
    padding: 0;
    margin: 0;
    width: 50%;

    position: relative;
    top: 14px;
}
.main-tea-search.main-tea-search-inmenu input.big-search-input {
    font-size: 1em;
    padding: 4px;
    border-radius: 4px;
}
.main-tea-search.main-tea-search-inmenu .main-search-input-container button {
    left: 0;
    top: -23px;
    font-size: .9em;
}

@media (max-width: 769px) {
    .main-search-input-container {
        width: 100%;
    }
    .main-tea-search.main-tea-search-inmenu {
        width: 100%;
        padding-right: 0.4em;
        top: 11px;
    }
}




#favorite-teas {
    margin-top: 40px;
}

#favorite-teas .card {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .89);
    overflow: hidden;
}

#favorite-teas .card h3 {
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#favorite-teas .card h3 a {
    color: #222 !important;
}

#favorite-teas .card .content p {
    margin-bottom: .5em;
    color: #222;
}

#favorite-teas .card .content ul, ul.tea-tips-list {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#favorite-teas .card .content ul li, ul.tea-tips-list li {
    display: inline-block;
    list-style-type: none;
    padding-left: 5px;
    margin-right: .2em;
    color: #222;
}
#favorite-teas .card .content ul li:first-child, ul.tea-tips-list li:first-child {
    padding-left: 0;
}

#favorite-teas .card .content ul li .icon, ul.tea-tips-list li .icon {
    position: relative;
    top: 3px;
    margin-right: .2em;
}

#favorite-teas .card .content .card-buttons {
    visibility: hidden;
    font-size: 130%;
}
#favorite-teas .card .content .card-buttons a {
    color: #666;
}
#favorite-teas .card .content .card-buttons a:not(:first-child) {
    margin-left: .5em;
}
#favorite-teas .card .content:hover .card-buttons {
    visibility: visible;
}

#favorite-teas .card.no-tea-left {
    filter: blur(2px) grayscale(100%);
    transition: filter 0.1s ease-in-out;
}
#favorite-teas .card.no-tea-left:hover {
    filter: blur(0px);
}
#favorite-teas .card.no-tea-left h3 .tag {
    margin-left: 2em;
    position: relative;
    top: 2px;
}


/*
 * TEA PAGES
 */

#hero-tea {
    overflow: hidden;
}

#hero-tea .tea-title .icon {
    margin-left: .4em;
    position: relative;
    top: 2px;
}

#hero-tea .tea-icon {
    width: 303px;

    position: absolute;
    top: -22px;
    right: 18px;
}

#tea-details {
    margin-top: 40px;
}

#tea-details dl.tips {
    margin-left: 0;
}
#tea-details dl.tips dt {
    font-size: 1.2em;
    font-variant: small-caps;
}
#tea-details dl.tips dd {
    font-size: 1.8em;
    margin-bottom: 1em;
}
#tea-details dl.tips dd.tips_raw {
    font-size: 1.5em;
}
#tea-details dl.tips dd:last-child {
    margin-bottom: 0;
}

#tea-details .content {
    font-size: 1.05em;
}

#tea-details .tea-actions {
    margin-top: 30px;
    text-align: center;
}
#tea-details .tea-actions:first-child {
    margin-top: 0;
}

#tea-details .tea-timer .progress-bar {
    display: none;
}
#tea-details .tea-timer-button {
    width: 100%;
}

#tea-details .tea-source {
    font-style: italic;
    border-top: solid 1px #dbdbdb;
    padding-top: 1.5rem;
}
#tea-details .tea-source a {
    font-weight: bold;
}
#tea-details .tea-source .last-update {
    color: #777;
}

#tea-details .tea-types {
    float: right;
}

@media (max-width: 769px) {
    #hero-tea .tea-title {
        text-align: center;
    }

    #hero-tea .tea-icon, #hero-tea .tea-title-aside {
        display: none;
    }

    #hero-tea .tea-title aside .icon {
        margin-left: 0;
    }

    #tea-details {
        margin-left: 6px;
        margin-right: 6px;
    }

    #tea-details .tea-about {
        border-top: solid 1px #dbdbdb;
        padding-top: 1.5rem;
    }

    #tea-details .tips {
        margin-top: 25px;
        margin-bottom: 8px;
    }
}


/*
 * LISTS PAGES (CATEGORIES, SEARCH...)
 */

#hero-list .hero-foot .tabs li.is-active a {
    background-color: #212121;
    border-color: #212121;
    color: #fff;
}

#hero-list .hero-foot .tabs li:not(.is-active) a:hover {
    background-color: rgba(33, 33, 33, 0.6);
}

#teas-list {
    margin-top: 40px;
}

#teas-list .card.tea-list-item {
    border-radius: 5px;
}

#teas-list .card.tea-list-item .card-image {
    margin-bottom: 0;
}
#teas-list .card.tea-list-item .card-image figure img {
    height: 100%;
    max-width: 168px;
    max-height: 144px;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#teas-list .card.tea-list-item .card-content {
    padding: 1rem;
}
#teas-list .card.tea-list-item .card-content h3 {
    margin-bottom: .4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#teas-list .card.tea-list-item:hover {
    box-shadow: 1px 1px 12px #777;
}


@media (max-width: 769px) {
    #hero-list .tea-title {
        text-align: center;
    }

    #teas-list .card.tea-list-item, #teas-list .card.tea-list-item .card-image figure img {
        border-radius: 0;
    }
}


/*
 * UTILITIES
 */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

dfn.tooltip {
    padding: 0 0.4em;
    font-style: normal;
    position: relative;
}
dfn.tooltip::after {
    content: attr(aria-label);
    display: inline;
    position: absolute;
    top: 22px; left: 0;
    opacity: 0;
    width: 230px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    color: #fff;
    pointer-events: none; /* This prevents the box from apearing when hovered. */
    transition: opacity 250ms, top 250ms;
    z-index: 2;
}
dfn.tooltip::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px; left: 20px;
    opacity: 0;
    width: 0; height: 0;
    border: solid transparent 5px;
    border-bottom-color: rgba(0,0,0,0.8);
    transition: opacity 250ms, top 250ms;
}
/* Keeps the info boxes on top of other elements */
dfn.tooltip:hover {
    z-index: 2;
}
dfn.tooltip:hover::after, dfn:hover::before {
    opacity: 1;
}
dfn.tooltip:hover::after {
    top: 30px;
}
dfn.tooltip:hover::before {
    top: 20px;
}

dfn.tooltip.tooltip-icon-title::after {
    top: 40px;
    width: 140px;
}
dfn.tooltip.tooltip-icon-title::before {
    top: 30px;
    left: 31px;
}

.button-progress {
    display: block;
    overflow: hidden;
    padding: 0;
}
.button-progress .button-progress-label {
    display: block;
    position: relative;
    top: 19%;

    padding-left: 0.75em;
    padding-right: 0.75em;
}
.button-progress.card-footer-item .button-progress-label {
    padding: .75rem;
    text-align: center;
}
.button-progress.card-footer-item.active .button-progress-label {
    padding-bottom: calc(.75rem - 6px);
    text-align: center;
}
.button-progress .button-progress-bar {
    border: 3px solid #4a2d16;

    display: none;

    position: relative;
    left: 0;
    bottom: -10px;
}
.button-progress.card-footer-item .button-progress-bar {
    bottom: 0;
}
.button-progress.active, .button-progress.active:hover,
.button-progress.active:active, .button-progress.active:focus {
    background-color: transparent;
    border-color: #4a2d16;
    color: #4a2d16;
    cursor: default;
}
.button-progress.active .button-progress-bar {
    display: block;
}

@media only screen and (max-width: 1000px) and (min-width: 769px) {
    .box {
        border-radius: 0;
    }
}
